* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none;
    background-color: white;
}

.container{

    display: grid;
    height: 600px;
    align-content: space-evenly;
    justify-content: space-evenly;
    justify-items: center;
    
}

.pet{
    border-radius: 60px;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: rgb(39, 103, 109);
     
}

.activities>button {
    padding: 7px 20px;
    background: rgb(122, 231, 236);
    color: rgb(109, 48, 167);
    border-radius: 70px;
    cursor: pointer;
    width: 22%;

}

.statusBar{
    width: 100px;
    background: rgb(78, 78, 245);
    border-radius: 6px;
    padding: 3px 3px;
    align-items: center;
}

.status{
    display: grid;
    align-content: space-evenly;
    gap: 15px;
}

.titleStatus{
    margin-left: -50px;
}

.allStatusBar{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}

.activities{
    padding: 15px 0px;
}

#imageFlork{
    padding: 0px 0px;
    position: relative;
    left: -20px;
}

#mensaje{
    color: red;
}